/*styles here*/

body {
    font-family: 'Tenor Sans', sans-serif;
    animation: smoothLoad;
    animation-duration: 2s;
    background-color: #181818;
    /*background-color:antiquewhite;*/
}

@keyframes smoothLoad {
    0% { opacity: 0 }
    100% { opacity: 1 }
  }

header {
    background-color: #181818;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    padding: 30px;
    align-items: center;

}

header img {
    /*filter: invert(100%)*/
    filter: grayscale(1) invert(1);
    margin-right: 150px;
}

.navigation {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /*padding: 30px;*/
}

 
.navigation li {
    margin-right: 45px;
    text-transform: uppercase;
    cursor: pointer;
}

.video {
    height: 100%;
}

.video__main {
position: relative;
z-index: 0;
height: 85vh;
overflow-y: hidden;
}

.video__text {
    background-color: #181818;
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0.9;
}


 #background-video {
    width: 100vw;
    height: 100%;
    overflow: auto;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    position: relative;
 }

.video__text h2 {
    font-size: 52px;
    
}

.video__text p {
    font-size: 18px;  
    width: 50%;
}

.video__text .btn {
    font-size: 18px;  
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;   
    color: white;
    background-color: #181818;
    transition: all 0.2s ease-in-out;
}

.video__text .btn:hover {
    color:#181818;
    background-color: white;
  
  }

.social {
    /*display: flex; */
}

.social img {
   margin-right: 10px;
}

.social li {
    height: 25px;
    margin-top: 10px;
}

.social a {
   display: flex;
   align-items: center;
   
}


.social h2 {
    text-transform: uppercase;
    margin-right: 20px;
}

/*footer*/

footer {
    position: relative;
}



.footer-box {
    background-color: #181818;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
    align-items: end;
    background-image: url('/img/desktop-background-bottom.svg');
    background-repeat: no-repeat;
    background-position: 100% 0%;
    background-size: contain;
}
.footer-box h1 {
    text-transform: uppercase;
}

.footer-box .logo img {
    /*filter: invert(100%)*/
    filter: grayscale(1) invert(1);
    margin-right: 150px;
    height: 84px;
}

.footer-box__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;
    margin-right: 50px;
}

  
#official {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
}  

#official h1 {
    font-size: 52px; 
    margin-bottom: 40px;
    
}

.official-box {
 display: flex;
 justify-content:flex-start;
 flex-wrap: wrap;
}

.official-item {
    border: 1px solid black;
    padding: 25px;
    display: inline-block;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    width: 300px;
    min-height: 300px;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;

}

.official-item h2 {
   /* border: 1px solid black;*/
   font-size: 24px;
   margin-bottom: 20px;
}

.official-item a {
    color:#777;
    cursor: pointer;
 }

.about-background {
    height: 100vh;
}


.about-text {
    width: 50%;
    height: 100%;
    opacity: 0.7;
    padding: 80px;
    background-color: #181818;
    color: white;
}

.about-text h1 {
    font-size: 52px;
    margin-bottom: 40px;
}

.contact-background {
    height: 100vh;
}


.contact-text {
    width: 50%;
    height: 100%;
    opacity: 0.9;
    /*padding: 80px;*/
    background-color: #181818;
    color: white;
}

.contact-text h1 {
    font-size: 52px;
    margin-bottom: 40px;
}

/*#card-container {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    height: 55vh;
    width: calc((100% / 3) - 16px);
    margin: 8px;
    border-radius: 3px;
    transition: all 200ms ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  .card-actions {
    margin: 8px;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #loader {
    display: flex;
  }
  .skeleton-card {
    height: 55vh;
    width: calc((100% / 3) - 16px);
    margin: 8px;
    border-radius: 3px;
    transition: all 200ms ease-in-out;
    position: relative;
    background-color: #eaeaea;
  }
  .skeleton-card::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-30%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
    animation: load 1s infinite;
  }

  @keyframes load {
    100% {
      transform: translateX(30%);
    }
  }

  @media screen and (prefers-reduced-motion: reduce) {
    .skeleton-card::after {
      animation: none;
    }
  }
*/
  .gallery h2 {
    font-size: 52px;
    margin-bottom: 40px;
  }

  .gallery {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #181818;
    color: white;
    animation: smoothLoad;
  }

.contact-box {

    padding: 30px;
}

.contact-box h2 {
    text-transform: uppercase;
}

.events {
    padding-top: 60px;
    padding-bottom: 60px; 
    background-color: white;
    
}

.events h2 {
    font-size: 52px;
    margin-bottom: 40px;
  }



  .event-item:nth-child(odd) .event-text {
    /*margin-left: 24px;
    margin-right: 24px;*/
    padding-right: 0px;
  }


  .event-text {
    /*padding-right: 80px;*/
    width: 600px;
  }


  .event-item:nth-child(even) {
    flex-direction: row-reverse;
  }

  .event-item:nth-child(even) .event-img {
    /*margin-left: 40px;
    margin-right: 0;*/

  }

  .event-item:nth-child(even) .event-text {
    margin-right: 40px;
    margin-left: 0;
    padding-left: 0;
  }

  .event-item:nth-child(odd) .event-img {
    margin: 0;
  }

  .event-img:hover img {
    transform: scale(1.2);
  }

  .event-img img {
    transition: transform 0.2s ease-in-out;
  }

  .event-img {
    overflow: hidden;
    width: 600px;
    height: 500px;
    height: auto;
  }

.navigation-item-line {
  height: 1px;
  background-color: transparent;
  margin-top: 5px;
}

.navigation li:hover  .navigation-item-line {
  background-color: white;
  animation: loadNavigationLine ease-in-out forwards 0.5s;
}

@keyframes  loadNavigationLine {
  0% { width: 0%; }
  15% { width: 0%; }
  100% { width: 100%; }
}


/*masonry*/

.masonry img {
    width: 100%;
    border-radius: 5px;
  }
  
  .masonry {
      column-count: 3;
      column-gap: 24px;
  }
  
  .masonry .mItem {
    display: inline-block;
    margin-bottom: 24px;
    width: 100%;
   
  }
  
  @media (max-width: 1199px) {
    .masonry {
      column-count: 3;
    }
  }
  
  @media (max-width: 991px) {
    .masonry {
      column-count: 2;
    }
  }
  
  @media (max-width: 767px) {
    .masonry {
      column-count: 1;
    }
  }
 

 


