<footer class="">
   <div class="footer-box relative">
        <div  class="logo">
        <img src="/img/logoTOZ.png"/>
        </div>
        <div class="footer-box__item">
            <h2 class="mb-8">Радно време:</h2>
            <ul>
                <li>Радним данима: 7:30-15:30</li>
                <li>Викендом: не радимо</li>
                <li>Туристичка организација градске општине Земун </li>
                <li>© 2023</li>
            </ul>
        </div>
        <div class="footer-box__item">
            <h2 class="mb-8">Адреса:</h2>
            <ul>
                <li>
                    <a href="https://www.google.com/maps/place/SINERGIJA/@44.8111681,20.4016704,17z/data=!3m1!4b1!4m6!3m5!1s0x475a6f8209644def:0xf8380497f5905a5e!8m2!3d44.8111681!4d20.4038591!16s%2Fg%2F11c54h7wwv"
                    target="_blank">
                    Косовска 9, 11080 Земун
                    </a>
                </li>
                <li> <a href="tel:011 74 55 297"
                    target="_blank">
                      011 74 55 297 </a>
                    </li>
                <li><a href="turist@zemun.rs"
                    target="_blank">
                    turist@zemun.rs</a>
                </li>
            </ul>
        </div>
        <div class="social footer-box__item">
            <h2>Пратите нас:</h2>
            <ul>
              <li class=""><a href="https://www.facebook.com/tkczemun/" target="_blank"><img src="/img/facebook.svg"/><p>Facebook</p></a></li>
              <!--<li class=""><a href="https://www.youtube.com/channel/UCAzBL0O-_QpHixMVUPbuHlQ" target="_blank"><img src="/img/youtube.svg"/><p>Youtube</p></a></li>-->
              <li class=""><a href="https://www.instagram.com/turistickaorganizacijazemun/"><img src="/img/instagram.svg" target="_blank">Instagram</p></a></li>
            </ul>
        </div>
    </div>
</footer>
<script src="/js/main.js"></script>



