<footer class="">
    <div class="footer-box relative">
        <div  class="logo">
        <img src="/img/logo_zemun.png"/>
        </div>
        <div class="footer-box__item">
            <h1 class="mb-8">Радно време</h1>
            <ul>
                <li>Радним данима: 8:30 - 15:30</li>
                <li>Викендом: не радимо</li>
                <li>Туристичко-културни центар Градске општине Земун </li>
                <li>© 2023</li>
            </ul>
        </div>
        <div class="footer-box__item">
            <h1 class="mb-8">Адреса</h1>
            <ul>
                <li>Косовска 9, 11080 Земун</li>
                <li>011 74 55 297</li>
                <li>turist@zemun.rs</li>
            </ul>
        </div>
        <div class="social footer-box__item">
            <h1>Пратите нас</h1>
            <ul>
              <li class=""><a href="#"><img src="/img/facebook.svg"/><p>Facebook</p></a></li>
              <li class=""><a href="#"><img src="/img/youtube.svg"/><p>Youtube</p></a></li>
              <li class=""><a href="#"><img src="/img/instagram.svg"/>Instagram</p></a></li>
            </ul>
          </div>
    </div>
</footer>
<!--<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
<script src="/js/main.js"></script>-->
