<div id="navigation-page">
  <header class="header">
    <a href="/"><img src="/img/logoTOZ.png" /></a>
    <div class="burger">
      <div class="burger-line mb-2"></div>
      <div class="burger-line mb-2"></div>
      <div class="burger-line"></div>
    </div>
    <nav class="mobile-menu hidden">
      <div class="nav-img"><img src="/img/DJI_0229.webp" /></div>
      <div class="navigation">
        <ul class="navigation__box">
          <li class="animate__animated animate__fadeInUp">
            <a href="/">Насловна </a>
            <div class="navigation-item-line"></div>
          </li>
          <li class="animate__animated animate__fadeInUp">
            <a href="/about">О Земуну</a>
            <div class="navigation-item-line"></div>
          </li>
          <li class="animate__animated animate__fadeInUp">
            <a href="/official">Jавнe набавке</a>
            <div class="navigation-item-line"></div>
          </li>
          <li class="animate__animated animate__fadeInUp">
            <a href="/contact">Контакт</a>
            <div class="navigation-item-line"></div>
          </li>
          <li class="gallery-link animate__animated animate__fadeInUp">
            <a href="/#gallery">Галериjа</a>
            <div class="navigation-item-line"></div>
          </li>
          <li
            class="animate__animated flex justify-start items-center animate__fadeInUp"
          >
            <a
              class="inline h-10 w-10 mr-2"
              href="https://www.instagram.com/turistickaorganizacijazemun/"
              target="_blank"
            >
              <img class="" src="/img/instagram.svg" alt="instagram" />
            </a>
            <a
              class="inline h-10 w-10 mx-2"
              href="https://www.facebook.com/tkczemun/"
              target="_blank"
            >
              <img class="" src="/img/facebook.svg" alt="facebook" />
            </a>
            <a
              class="inline h-10 w-10 mx-2"
              href="https://www.youtube.com/channel/UCAzBL0O-_QpHixMVUPbuHlQ"
              target="_blank"
            >
              <img class="" src="/img/youtube.svg" alt="youtube" />
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</div>
