
<div id="navigation-page">
  <header class="header">
    <a href="/"><img src="/img/logo_zemun.png"/></a>
  <nav class="">
    <ul class="navigation">
      <li class=""><a href="/">Насловна</a>
        <div class="navigation-item-line"></div></li>
      <li class=""><a href="/about">О Земуну</a>
        <div class="navigation-item-line"></div></li>
      <li class=""><a href="/official">Jавнe набавке</a>
        <div class="navigation-item-line"></div></li>
      <li class=""><a href="/contact">Контакт</a>
        <div class="navigation-item-line"></div></li>
        <li class=""><a href="/#gallery">Галереjа</a>
          <div class="navigation-item-line"></div></li>
        
    </ul>
  </nav>
</header>
</div>