{% assign current_page = 'About' %}
{% include head.html %}
{% include nav.html %}

<div id="about">
    <div class="about-img"><img  src="/img/9E1A6770.webp"/></div>
    <div class="about-text">
        <h1 class="main-title ">Град у граду</h1>
        <p class="">Као што је Харбург поред Хамбурга или Бадалона поред Барселоне, тако је и Земун поред Београда. Рекли бисмо – град у граду!

        Земун се налази на десној (сремској) обали Дунава у непосредној близини ушћа Саве у Дунав. У овој београдској општини живи око 200 хиљада становника на површини од 15.356 хектара.
        
        Захваљујући свом изузетном географском положају, Земун је данас једна од ексклузивнијих урбаних туристичких дестинација у Србији. Готово да нема посетиоца у Земуну, а да није обишао гардошку кулу или плажу Лидо на Великом ратном острву – симболе овог времешног града.
        
        Земун се поноси својом богатом културном баштином, својим еколошким, спортским и хотелијарско-угоститељским потенцијалом. </p> <br>
        
        <p>Оно што Земун заиста издваја јесте његова традиција: утврђење на Гардошу које се помиње још у 9. веку, Храм светог оца Николаја- најстарија православна црква у Београду, сачувани објекат некадашње кафане ''Бели медвед'' из 18. века, библиотека „Свети Сава” - најстарија библиотека у Срба из 19. века, једино луткарско позориште у српској престоници и „Мадленијанум” - прва приватна опера и театар на овим просторима.
        
        Туристички центар Земун, чији је оснивач Градска општина Земун, почео је са радом априла 2010. године. Земун заслужује да се нађе на туристичкој мапи Европе као несвакидашњи српски туристички бренд. </p><br>
        
       <p> Организовањем туристичких манифестација, туристичких тура, публиковањем туристичког материјала, сарадњом са туристичким посленицима у Земуну и присуством на сајму туризма са задовољством предствљамо природно богадство и културну баштину древног „града под Гардошем”.
        Земун се поноси својом богатом културном баштином, својим еколошким, спортским и хотелијарско-угоститељским потенцијалом.
        </p>
    </div>
    <!--</div>-->
</div>

{% include footer.html %}