{% assign current_page = 'Contact' %}
{% include head.html %}
{% include nav.html %}
<div id="contact">
    <div><img src ='/img/gallery4.jpg'/></div>
    <div class="contact-text">
        <section class="">
             <div class="contact-box">
              <h1 class="main-title">Контакт</h1>
                <h2 class=" mb-2">
                  Адреса
                </h2>
                <a href="https://www.google.com/maps/place/SINERGIJA/@44.8111681,20.4016704,17z/data=!3m1!4b1!4m6!3m5!1s0x475a6f8209644def:0xf8380497f5905a5e!8m2!3d44.8111681!4d20.4038591!16s%2Fg%2F11c54h7wwv"
                              target="_blank">
                <p class="mb-4">
                Косовска 9, 11080 Земун 
                </p>
                </a>
                <h2 class="location-title mb-2">
                  Контакт
                </h2>
                <div class="locaiton-text mb-4"> 
                  <a href="tel:011 74 55 297
                  ">
                    011 74 55 297
                  </a>
                  <br>
                  <a href="mailto:turist@zemun.rs">
                    turist@zemun.rs
                  </a>
                </div>
                <h2 class=" mb-2">
                  Радно време
                </h2>
                <div class="locaiton-text mb-4">
                  Радним данима: 8:30 - 15:30 <br>
                  Викендом: не радимо
                </div>
                <div class="flex items-center justify-start">
                  <a class="mr-2" href="#"
                  target="_blank">
                    <img class="w-8 h-8" src="/img/instagram.svg" alt="instagram">
                  </a>
                  <a class="mx-2" href="https://www.facebook.com/tkczemun/"
                  target="_blank">
                    <img class="w-8 h-8" src="/img/facebook.svg" alt="facebook">
                  </a>
                  <a class="mx-2" href="https://www.youtube.com/channel/UCAzBL0O-_QpHixMVUPbuHlQ"
                  target="_blank">
                    <img class="w-8 h-8" src="/img/youtube.svg" alt="youtube">
                  </a>
                </div>
                </div>
            <div class="">
              <div class="">
                <iframe 
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2828.944457049496!2d20.41208415148898!3d44.84306447899608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a65a891aba8bd%3A0x9acb5178bfc0e45d!2sKosovska%209%2C%20Beograd!5e0!3m2!1sen!2srs!4v1683102803082!5m2!1sen!2srs" 
                  width="100%" 
                  height="450"                 
                  allowfullscreen="" 
                  loading="lazy" 
                  referrerpolicy="no-referrer-when-downgrade"
                  style="border:0; filter: invert(90%) grayscale(100%) saturate(100%)"
                ></iframe>
              </div>
              </div>
           
          </section>
       </div>
    </div>
    <script src="/js/main.js"></script>
</div>
<!--{% include footer.html %}-->