{% assign current_page = 'Homepage' %}
{% include head.html %}
{% include nav.html %}
<div id="homepage">
<div class="video">
    <div class="video__main">
          <video id="background-video" autoplay muted poster="https://assets.codepen.io/6093409/river.jpg">
<source src="https://assets.codepen.io/6093409/river.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
        
    </div>
    <div class="video__text">
        <div class="container mx-auto flex justify-between items-center">
        <div>
        <b><h2>О Земуну</h2></b>
        <p>Као што је Харбург поред Хамбурга или Бадалона поред Барселоне, тако је и Земун поред Београда. Рекли бисмо – град у граду!</p>
        </div>
        <a href="/about" class="btn">Опширније</a>
    </div>
    </div>
</div>

<div class="gallery container mx-auto">
    <h2>Галерија</h2>
    <div id="card-container">
    </div>
    <div id="loader">
      <div class="skeleton-card"></div>
      <div class="skeleton-card"></div>
      <div class="skeleton-card"></div>
    </div>
    <div class="card-actions">
      <span>Showing 
        <span id="card-count"></span> of 
        <span id="card-total"></span> cards   
      </span>
    </div>
   </div>
<div class="events container mx-auto">
    <h2>Најаве догађаја</h2>
</div>
</div>
</div>
{% include footer.html %}