{% assign current_page = 'Homepage' %}
{% include head.html %}
{% include nav.html %}
<div id="homepage">
<div class="video">
    <div class="video__main">
          <video id="background-video" autoplay muted poster="https://assets.codepen.io/6093409/river.jpg">
<source src="https://assets.codepen.io/6093409/river.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>
        
    </div>
    <div class="video__text">
        <div class="container mx-auto flex justify-between items-center">
        <div>
        <b><h2>О Земуну</h2></b>
        <p>Као што је Харбург поред Хамбурга или Бадалона поред Барселоне, тако је и Земун поред Београда. Рекли бисмо – град у граду!</p>
        </div>
        <a href="/about" class="btn">Опширније</a>
    </div>
    </div>
</div>
<div class="events container mx-auto">
    <h2>Најаве догађаја</h2>
    <div class="container mx-auto main-content  md:pt-16">
        <div class="lg:flex justify-between items-center pt-8 lg:pt-0 mb-20 event-item">
          <div class="lg:w-1/2 event-img  mb-4">
            <img src="/img/city.jpg" class="img-radius reveal-left">
          </div>
          <div class="pt-8 md:pt-0 lg:w-1/2 event-text">
            <div class="reveal-right">
              <div class="border-class mb-6">
              <h3 class="pb-4">датум</h3>
              <h2 class="mb-2 mt-2 uppercase reveal-right small-title">догађај</h2>
              </div>
              <div class="mb-12">Као што је Харбург поред Хамбурга или Бадалона поред Барселоне, 
                тако је и Земун поред Београда. Рекли бисмо – град у граду</div>
            </div>
          </div>
        </div>
        <div class="lg:flex justify-between items-center pt-8 lg:pt-0 mb-20 event-item">
            <div class="lg:w-1/2 event-img  mb-4">
              <img src="/img/event.jpg" class="img-radius reveal-left">
            </div>
            <div class="pt-8 md:pt-0 lg:w-1/2 event-text">
              <div class="reveal-right">
                <div class="border-class mb-6">
                <h3 class="pb-4">датум</h3>
                <h2 class="mb-2 mt-2 uppercase reveal-right small-title">догађај</h2>
                </div>
                <div class="mb-12">Као што је Харбург поред Хамбурга или Бадалона поред Барселоне, 
                  тако је и Земун поред Београда. Рекли бисмо – град у граду</div>
              </div>
            </div>
          </div>
          <div class="lg:flex justify-between items-center pt-8 lg:pt-0 mb-20 event-item">
            <div class="lg:w-1/2 event-img  mb-4">
              <img src="/img/event1.jpg" class="img-radius reveal-left">
            </div>
            <div class="pt-8 md:pt-0 lg:w-1/2 event-text">
              <div class="reveal-right">
                <div class="border-class mb-6">
                <h3 class="pb-4">датум</h3>
                <h2 class="mb-2 mt-2 uppercase reveal-right small-title">догађај</h2>
                </div>
                <div class="mb-12">Као што је Харбург поред Хамбурга или Бадалона поред Барселоне, 
                  тако је и Земун поред Београда. Рекли бисмо – град у граду</div>
              </div>
            </div>
          </div>
      
    </div>
</div>
    <div class="gallery  ">
        <div class="container mx-auto"><!--container mx-auto"-->
        <h2>Галерија</h2>
        <div id="card-container">
        </div>
        <div id="loader">
          <div class="skeleton-card"></div>
          <div class="skeleton-card"></div>
          <div class="skeleton-card"></div>
        </div>
        <div class="card-actions">
          <span>Showing 
            <span id="card-count"></span> of 
            <span id="card-total"></span> cards   
          </span>
        </div>
       </div>
    </div>

</div>
</div>
{% include footer.html %}