{% assign current_page = 'Homepage' %}
{% include head.html %}
{% include nav.html %}
<div id="homepage" >
  <div class="video">
    <div class="video__main">
      <img class="video__img" src="/img/9E1A5735-2-Edit.webp"/><!--iframe height="100%" width="100%"  -->
    <iframe  id="background-video"
    src="https://www.youtube.com/embed/Eg-Df5-aFpk?modestbranding=1&controls=0&autoplay=1&mute=1&playsinline=1&playlist=Eg-Df5-aFpk&loop=1" title="YouTube video player" 
   
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
    allowfullscreen 
    ></iframe>
    </div>
  </div>
  <div class="video__button">
    <svg id="Chevrons" class="video__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55 55" class="img-svg">
      <defs>
        <filter id="f1" x="0" y="0" width="200%" height="200%">
          <feOffset result="offOut" in="SourceGraphic" dx="1" dy="0.5" />
          <feGaussianBlur result="blurOut" in="offOut" stdDeviation="1" />
          <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
        </filter>
      </defs>
      <path class="chevron" id='TopChevron' d="M52,4.2L28,23.7c-0.1,0.1-0.3,0.2-0.5,0.2c-0.2,0-0.3-0.1-0.5-0.2L3,4.2c-0.3-0.2-0.4-0.7-0.1-1
C3,3,3.2,2.9,3.5,2.9H9c0.2,0,0.3,0.1,0.4,0.2l18,14.6L45.5,3c0.1-0.1,0.3-0.2,0.5-0.2h5.6c0.3,0,0.6,0.2,0.7,0.5
C52.3,3.7,52.2,4,52,4.2z" />
      <path class="chevron" id='MiddleChevron' d="M52,31.8L28,51.3c-0.1,0.1-0.3,0.2-0.5,0.2c-0.2,0-0.3-0.1-0.5-0.2L3,31.8c-0.3-0.2-0.4-0.7-0.1-1
c0.1-0.2,0.3-0.3,0.6-0.3H9c0.2,0,0.3,0.1,0.4,0.2l18,14.6l18-14.6c0.1-0.1,0.3-0.2,0.5-0.2h5.6c0.3,0,0.6,0.2,0.7,0.5
C52.3,31.3,52.2,31.6,52,31.8z" />
      <path class="chevron" id='BottomChevron' d="M52,59.5L28,79c-0.1,0.1-0.3,0.2-0.5,0.2c-0.2,0-0.3-0.1-0.5-0.2L3,59.5c-0.3-0.2-0.4-0.7-0.1-1
c0.1-0.2,0.3-0.3,0.6-0.3H9c0.2,0,0.3,0.1,0.4,0.2l18,14.6l18-14.6c0.1-0.1,0.3-0.2,0.5-0.2h5.6c0.3,0,0.6,0.2,0.7,0.5
C52.3,59,52.2,59.3,52,59.5z" />
    </svg>
  </div>
</div>
<div class="main-content ">
  <div class="video__text reveal">
    <div class="container mx-auto lg:flex lg:justify-between lg:items-center">
    <div>
    <h2 class="main-title ">{{ page.title }}</h2>
    <p>Као што је Харбург поред Хамбурга или Бадалона поред Барселоне, тако је и Земун поред Београда. Рекли бисмо – град у граду!</p>
    </div>
    <a href="/about" class="btn">Опширније</a>
</div>
</div>
<div class="events">
    <div class="container mx-auto">
    <h2 class="main-title ">Најаве догађаја</h2>
    <div class="container mx-auto main-content">
        <div class="lg:flex justify-between items-center lg:pt-0 mb-12 lg:mb-20 event-item reveal">
          <div class="lg:w-1/2 event-img mb-4">
            <img src="/img/9E1A7698.webp" class="img-radius">
          </div>
          <div class="pt-2 lg:pt-0 lg:w-1/2 event-text">
            <div class="">
              <div class="border-class mb-6">
              <p class="">01/06/23</p>
              <h3 class="lg:mb-2 lg:mt-2 small-title">Rock Opera</h3>
              </div>
              <div class="mb-4 lg:mb-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            </div>
          </div>
        </div>
        <div class="lg:flex justify-between items-center lg:pt-0 mb-12 lg:mb-20 event-item reveal">
            <div class="lg:w-1/2 event-img  mb-4">
              <img src="/img/1C4A6970.webp" class="img-radius">
            </div>
            <div class="pt-2 lg:pt-0 lg:w-1/2 event-text">
              <div class="">
                <div class="border-class mb-6">
                    <p class="lg:pb-4">01/06/23</p>
                    <h3 class="lg:mb-2 lg:mt-2 small-title">Rock Opera</h3>
                </div>
                <div class="mb-4 lg:mb-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                   sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
              </div>
            </div>
          </div>
          <div class="lg:flex justify-between items-center lg:pt-0 mb-12 lg:mb-20 event-item reveal">
            <div class="lg:w-1/2 event-img mb-4">
              <img src="/img/IMG_6046.webp"  class="img-radius">
            </div>
            <div class="pt-2 lg:pt-0 lg:w-1/2 event-text">
              <div class="">
                <div class="border-class mb-6">
                    <p class="lg:pb-4">01/06/23</p>
                    <h3 class="lg:mb-2 lg:mt-2 small-title">Rock Opera</h3>
                </div>
                <div class="mb-4 lg:mb-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                  velit esse cillum dolore eu fugiat nulla pariatur. 
                  Excepteur sint occaecat cupidatat non proident,
                   sunt in culpa qui officia deserunt mollit anim id est laborum.
                   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                  </div>
              </div>
            </div>
          </div>
        </div>
      
    </div>
</div>
    <div id="gallery">
      <!-- popup -->
    <div class="popup">
      <div class="top-bar">
          <span class="close-btn">
          </span>
      </div>
      <img src="/img/DJI_0232.webp" class="large-image" alt="">
  </div>
    <div class="container mx-auto gallery">
        <h2 class="main-title">Галерија</h2>
        <div class="masonry ">
        <div class="mItem">
          <img src="/img/9E1A3101.webp">
        </div>
      
        <div class="mItem ">
          <img src="/img/DJI_0232.webp">
        </div>
      
        <div class="mItem ">
          <img src="/img/dunav.webp">
        </div>
      
        <div class="mItem ">
          <img src="/img/9E1A6741.webp">
        </div>
      
        <div class="mItem ">
          <img src="/img/9E1A6757.webp">
        </div>

        <div class="mItem ">
          <img src="/img/IMG_9074.webp">
        </div>
        <div class="mItem">
          <img src="/img/9E1A7720.webp">
        </div>
      
        <div class="mItem">
          <img src="/img/9E1A5340.webp">
        </div>
      
       
         
          <div class="mItem ">
            <img src="/img/9E1A7700.webp">
          </div>

        <!---->
      
        <div class="mItem ">
          <img src="/img/DJI_0561.webp">
        </div>
        <div class="mItem ">
          <img src="/img/9E1A5379.webp">
        </div>
      
        <div class="mItem ">
          <img src="/img/9E1A7739.webp">
        </div>
        <div class="mItem ">
            <img src="/img/gardos-tower.webp">
          </div>
      
        <div class="mItem ">
          <img src="/img/bridge.webp">
        </div>
      
        <div class="mItem ">
            <img src="/img/9E1A5383.webp">
          </div>
          <div class="mItem ">
            <img src="/img/9E1A6732a.webp">
          </div>
         
        <!----->
          <div class="mItem ">
            <img src="/img/9E1A6770.webp">
          </div>
      
        <div class="mItem ">
          <img src="/img/DJI_0371.webp">
        </div>
       
        <div class="mItem ">
            <img src="/img/9E1A5395.webp">
          </div>
        
          <div class="mItem ">
            <img src="">
          </div>
          <div class="mItem ">
            <img src="/img/9E1A6773.webp">
          </div>
          <div class="mItem">
            <img src="/img/1C4A4422.webp">
          </div>
        
          <div class="mItem ">
            <img src="/img/9E1A9008.webp">
          </div>
        </div>
        </div>
      
      </div>

</div>
<button class="back-to-top-button"></button>
</div>
</div>
{% include footer.html %}